@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

header {	
	padding: 20px;
}

body {
	color: white;
	font-family: "Roboto", sans-serif;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	height: 100vh;
}

.title {
	background-color: rgba(116, 114, 114, 0.767);
	border-radius: 5px;
	color: #242020e3;
}
.cont-total {
	display: flex;
	align-items: baseline;
	justify-content: space-around;
	flex-wrap: wrap;

	gap: 30px;
	
}

.icons {
	position: absolute;
	right: 25px;
	top: 600px;
	display: flex;
	justify-content: end;
	gap: 10px;
	padding: 10px;
	
}

/* CSS Generador de Contraseñas*/

.cont-password {
	position: absolute;
	right: 500px;
	top: 350px;
	width: auto;
	height: auto;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items:center;
	margin: 10px;
}

#password {
	word-break: break-all;
	overflow-wrap: break-word;
	white-space: normal;
	width: 300px;
	height: auto;
	border-radius: 20px;
	background-color: #242020a9;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	gap: 15px;
}

#generator-btn {
	font-size: 15px;
	color: white;
	background-color: #6312e6e7;
	border: none;
	border-radius: 5px;
	height: 25px;
	width: 180px;
	cursor: pointer;
}

#password-output {
	width: auto;
	color: white;
	border: none;
	letter-spacing: 0.25em;

}
/*CSS Reloj*/

.container {
	position: absolute;
	right: 500px;
	top: 25px;
	margin: 10px;
	display: flex;
	align-content: center;
	justify-content: center;
	align-items: center;
}

#dateClock {
	border: 1px solid #242020a9;
	border-radius: 20px;
	background-color: #242020a9;
	opacity: 0.5;
	padding: 10px;
	width: auto;
	height: auto;
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#clock {
	font-size: 50px;
}

#date {
	font-size: 25px;
}

#message {
	font-size: 18px;
}

/*CSS Añadidor Enlaces*/

.container-link {
	position: absolute;
	right: 1000px;
	top: 200px;
	padding: 10px;
	margin: 5px;
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items:start;
	text-align: center;
}

#cont-link {
	width: 300px;
	margin-top: 10px;
	border-radius: 20px;
	background-color: #242020a9;
	opacity: 0.8;
	padding: 20px;
	gap: 20px;
	display: flex;
	
	flex-direction: column;
	align-items: center;
	justify-content:center;
	
}

#keep {
	color: whitesmoke;
	background-color: blue;
	font-size: 18px;
	padding: 5px;
	border: none;
	border-radius: 8px;
	cursor: pointer;
}

#list {
	
	margin: 10px;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	list-style: none;
	text-decoration: none;
}

li {
	border-radius: 10px;
	background-color: #242020f8;
	margin: 10px;
	padding: 10px;

}

a {
	text-decoration: none;
	color: whitesmoke;
	margin-right: 8px;
}

a:hover {
	color: rgb(27, 27, 211);
}

.remove-btn {
	border-radius: 75px;
	cursor: pointer;
}

/*CSS de la estacion meteorologica*/

#container-weather {
	position: absolute;
	right: 15px;
	top: 200px;
	margin: 10px;
	display: flex;
	justify-content: end;
	align-items: center;
}

#weather {
	opacity: 0.7;
	padding: 0;
	margin: 10px;
	width: 450px;
	height: 140px;
	border: 1px solid #242020a9;
	border-radius: 25px;
	background-color: #242020a9;
	display: flex;
	justify-content: end;
}

.logo {
	
	display: flex;
	width: 200px;
	gap: 10px;

}

.logo p {
	font-size: 25px;
}

.climate {
	padding: 0;
	font-size: 12px;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	
}


