@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wdth,wght@0,75..100,100..900;1,75..100,100..900&display=swap');

body {
	margin: 0;
	padding: 0;
	font-family: "Roboto", sans-serif;
	background-size: cover;
	background-position: center;
	height: 100vh;
	color: white;
}

.cont-total {
	display: flex;
	align-items: center;

}

.cont-password {
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 20px;

}
#password {
	width: 200px;
	height: 50px;
	border-radius: 20px;
	background-color: #2420207e;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 50px;
	gap: 15px;
}

#generator-btn {
	font-size: 18px;
	background-color: #df9953b6;
	border: none;
	border-radius: 5px;
	height: 25px;
	width: 80px;
	cursor: pointer;
}

#password-output {
	width: 100%;
	color: white;
	background-color: rgba(202, 198, 198, 0.322) ;
	border: none;
	letter-spacing: 0.25em;

}

.container {
	display: flex;
	justify-content: center;
	align-items: center;
}

#dateClock {
	border: 1px solid #242020a9;
	border-radius: 20px;
	background-color: #242020a9;
	opacity: 0.5;
	padding: 10px;
	width: auto;
	height: auto;
	display: inline-block;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

#clock {
	font-size: 50px;
}

#date {
	font-size: 25px;
}

#message {
	font-size: 18px;
}

#cont-link {
	margin-top: 20px;
	border-radius: 20px;
	background-color: #242020a9;
	opacity: 0.8;
	padding: 20px;
	gap: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	
}

#list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	text-decoration: none;
}

li {
	background-color: #242020f8;
	margin: 10px;
	padding: 10px;

}

a {
	text-decoration: none;
	color: whitesmoke
}

/*CSS de la estacion meteorologica*/

#container-weather {
	background-color: #242020a9;
	opacity: 0.7;
	padding: 20px;
	margin: 20px;
	width: auto;
	height: auto;
	border: 1px solid #242020a9;
	border-radius: 25px;
	display: inline-block;
	justify-content: center;
	justify-items: center;
	align-items: center;
}

#weather {
	
	display: flex;
}

.logo {
	
	display: flex;
	width: 200px;
	gap: 10px;

}

.logo p {
	font-size: 25px;
}

.climate {
	padding: 0;
	font-size: 12px;
	width: 150px;
	display: flex;
	flex-direction: column;
	align-items: start;
	justify-content: center;
	
}

